<div class="container">
	<!-- TABLE HEADER -->
	<div id='alert-box'></div>
	<div id='header-row' class="row th bottom-border">
		<div class="col-md-1"><strong>Complete</strong></div>
		<div class="col-md-3"><strong>Customer Name</strong></div>
		<div class="col-md-6"><strong>Items</strong></div>
		<div class="col-md-3"><strong>Total Cost: </strong> $<span id='total'>0</span></div>
		<div class="col-md-4 text-right">
			<input type="submit" class="btn btn-info" form='#order-form' value="Send me food!">
		</div>
	</div>

	<!-- INGREDIENT ROWS-->
	<form id='#order-form'>
		{{#each ingredient}}
			{{> order-ingredient}}
		{{/each}}
	</form>
</div>