<div class="row">
	<div class="col-md-1">
		<input class='checkbox' name="order" value="{{id}}" price="{{price}}" type="checkbox"{{#unless quantity}}disabled{{/unless}}>
	</div>
	<div class="col-md-1">{{currency price}}</div>
	<div class="col-md-6">{{name}}</div>
</div>