@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

html, body {
    padding: 0;
    margin: 0;
    background: url('/images/bg.png');
} 

p { font-family: 'Source Sans Pro', sans-serif; }

.large-font { font-size: 1.5rem; }
.normal-font { font-size: 1rem; }
.small-font { font-size:  .5rem; }

.full-height { height: 100%; }
.full-width { width: 100%; }

.relative { position: relative; }

.bottom {
	position: absolute; 
	bottom: 0;
}

.abs-right {
	position: absolute; 
	right:  0;
	margin-right: 20px;
	
}

.abs-left {
	position: absolute;
	left:  0;
	margin-left: 20px;
}


.raised {
	-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.20);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.20);
	z-index: 5;
}

.raised-underlay {
	-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.20);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.20);
	z-index: 0;
	
	top: 0;
	bottom: 0;
}

.padding-box { padding-top: 8rem; }

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
}

.side-borders {
	border-left: 1px solid rgba(0, 0, 0, 0.6) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.6) !important;
	padding: 0 15px;
}

.bottom-border {
	border-bottom: 1px solid rgba(0, 0, 0, 0.6) !important;
	padding: 0 15px;
}

.twote-box {
	font-weight: 400;
	margin: 10px auto;
	width: 762px;
	height: 170px;
	padding: 20px;
	background-color: #FFF;
	z-index: -10;

	font-family: 'Tangerine', cursive;

	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
}

.user {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgba(0, 0, 0, .4);
	border: none;
}