<div poster="{{user.name}}" class="twote-box">
	<div class="side-borders full-height relative">
		<span class="twote-field-body ">
			<span class="twote-field-container">
				{{text}}
			</span>
		</span>
		<div class="bottom abs-right user large-font">{{user.name}}</div>

		<button db="{{_id}}" class="delete-twote bottom abs-left user">Delete</button>
	</div>
</div>