{{> sidebar}}

<div id="twote-page">
	{{#each twote}}
		{{> twote}}
	{{/each}}
	{{#unless twote}}
		<div class="twote-box">
			<div class="side-borders full-height relative">
				<span class="twote-field-body ">
					<span class="twote-field-container">
						Twoth the Raven, Nothing More
					</span>
				</span>
				<div class="bottom abs-right user large-font">There are no Twotes; post one, and grant thy word temporary immortality.</div>
			</div>
		</div>
	{{/unless}}
</div>