<h1> There is nothing to see here! </h1>
<h3> Try going to: </h3>
<ul>
	<li>The management interface (<a href="/ingredients">/ingredients</a>).</li>
	<li>The kitchen interface (<a href="/kitchen">/kitchen</a>).</li>
	<li>The customer interface (<a href="/order">/order</a>).</li>
</ul>