.th { 
	padding: 10px;
	margin-bottom: 10px;
	font-size: 115%;
}

.full-width { width: 100% !important; }

.bottom-border {
	padding-bottom: 5px;
	border-bottom: 2px solid #333;
}

.row {
	padding: 3px 0;
}